.nav-container {
    display: flex;
     background-color: transparent;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(227, 236, 191);
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}

/* Logo Section */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bus-icon {
    font-size: 30px;
}

.brand-name {
    font-size: 18px;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/* Buttons Section */
.button-nav {
    display: flex;
    gap: 10px;
}

.login-btn {
    background-color: #669dcd;;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.signup-btn {
    background-color:  rgb(174, 172, 172);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
