.dashboardnav{
    height: 10%;
    background-color:  rgb(234, 240, 189);
    display: flex;
}
.left_dashboard_nav{
    margin-left:20px;
    padding: 24px 20px;
    display: flex;
    gap: 10px;
}
.log_dash_nav{
    color: #669dcd;
}
.right_dashboard_nav{
   margin-left: 600px;
   padding: 24px 20px;
   display: flex;
   gap: 30px;
}
.Find_my_bus{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    height: 20px;
    width: none;
}
.Buy_Tickets{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    height: 20px;
    width: 90px;
    border: none;
}
.log_dash_nav p{
   padding: 10px 30px;
   font-size: x-large;
   color: #669dcd;
   margin-left: -50px ;
}
.log_dash_nav .loc-icon{
    padding: 10px;
}
.change_mode{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    height: 20px;
    width: 80px;
    border: none;
}
.profile_nav{
    background-color: #669dcd;
    border-radius:50%;
    width: 20px;
    height: 20px;
    padding: 10px 10px;
    color: white;
    border: none;

}
.myid{
    background-color: rgb(236, 236, 241);
    width: 80px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.light .dashboard-navbar {
    background-color: #ffffff;
    color: black;
}

.dark .dashboard-navbar {
    background-color: #333;
    color: white;
}
.icon_dash_nav{
    font-size: 20px;
    color:#669dcd;
    margin-top: 10px;
}

