.overview_container{
    background-color: rgb(227, 236, 191);
}
.dash_over_container{
    margin-left: 30px;
    margin-right: 30px;
    
   
}
.upper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/kigali copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 30px;
    color: white;
    text-align: center; 
    margin-bottom: 20px;
}
.upper_overview h2{
 font-weight:bolder;
 font-size: 40px;
   
}
.the_select_boxes{
    display:flex;
    margin-left: 450px;
    gap:15px;
}
.from_bx input, .To_bx input{
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 180px;
    padding: 0px 20px;
}
.mylocation{
    display: flex;
    gap:10px;
    background-color: rgb(18, 18, 18);
    width: 150px;
    padding: 6px 8px;
    margin-left: 50px;
    margin-bottom: 40px;
    border-radius: 20px;

}
.location_overview{
    border-radius: 20px;
    color: black;
    background-color: white;
    width: 80px;
}
.most_popular{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-bottom: 20px;
    
}
.myplace{
    margin-top: 10px;
    border-radius: 20px;
    background-color:white;
    padding: 10px 10px;
}
.myplace:hover{
    color: #669dcd;
    box-shadow: 0px 2px 0px 0px ;
}
.myoptions{
    display: flex;
    gap: 10px;
}
.allbuses, .pinned{
    color: black;
    background-color:white;
    border-radius: 20px;
    padding: 10px 15px;
    height: 20px;
    width: 80px;
    margin-bottom: 20px;
}
.booking_cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;

}
.bus{
    background-color:white;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    gap:50px;
    margin-bottom: 20px;
}
.left_card{
 width: 400px; 
 margin-top: 20px;
}
.time{
    display: flex;
    gap: 150px;
}
.mydirection{
    font-size: xx-large;
}
.mytype{
    color: rgb(174, 172, 172);
    font-weight: 800;
    margin-bottom: 10px;
}
.title , .arrival, .report{
    color: rgb(174, 172, 172);
    font-weight: 800;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
.pinme{
    color: rgb(174, 172, 172);
}
.Arrival{
    margin-bottom: 80px;
}
.Right_card{
    margin-top: 60px;
}
.mycost{
    margin-bottom: 3px;
    font-size: large;
}
.mydescript{
    margin-bottom: 25px;
}
.btn1{
    background-color: #669dcd;
    color:white;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 180px;
    border-radius: 20px;
    border: none;
}
.btn2{
    background-color:rgb(236, 236, 241);
    color:rgb(174, 172, 172);
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 180px;
    border-radius: 20px;
    border: none;
}
.search_icon{
    padding: 20px 30px 30px 0px;
    font-size: 40px;
    color: #669dcd;
}
.arrow_icon{
    margin-top: 30px;
    
}